
html,
body {
    height: 100%;
}

body {
    margin: 0;
    background: linear-gradient(45deg, #49a09d, #5f2c82);
    font-family: sans-serif;
    font-weight: 100;
    
}

.artesano-table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    margin-top: 20px;
}

table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

th {
    text-align: left;
}

thead th {
    background-color: #55608f;
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

tbody td {
    position: relative;
}

tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
}

.artesania-fotos {
    width: 120px;
    height: 120px;
}

#volver {
    position: absolute;
    bottom: 0;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #49a09d;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.button:hover {
    background-color: #5f2c82;
}
.pagination-bar {
    position: fixed;
    bottom: 0;
    left: 0; 
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 20px; 
    box-sizing: border-box;
}

.pagination {
    list-style: none;
    padding: 0;
    margin: 0;
}

.page-items {
    display: inline-block;
    margin: 0 5px;
}

.page-link {
    text-decoration: none;
    background-color: #49a09d;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
}

.page-link:hover {
    background-color: #5f2c82;
}